# Ignore .vscode folder
.vscode/

# Ignore Windows user profile folders
AppData/
Application Data/
Contacts/
Cookies/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Local Settings/
Music/
My Documents/
Pictures/
Saved Games/
Searches/
Videos/

# Ignore system files (e.g., NTUSER)
NTUSER.DAT*
ntuser.dat.LOG*
ntuser.ini

# Ignore specific desktop.ini files
desktop.ini
